argon2-cffi==21.1.0
autopep8==1.5.7
boto3==1.18.43
botocore==1.21.43
cffi==1.14.6
databases==0.5.2
fastapi==0.68.1
greenlet==1.1.1
jmespath==0.10.0
orjson==3.6.3
ormar==0.10.19
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
python-dateutil==2.8.2
s3transfer==0.5.0
six==1.16.0
SQLAlchemy==1.4.23
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.6
watchtower==1.0.6